---
import BackButton from '../components/BackButton.astro';
import QuoteDisplay from '../components/QuoteDisplay.astro';
import Layout from '../layouts/Layout.astro';
import { getHtml, getText } from '../services/content';

const WEBSITE_QUOTES_TITLE = await getText('WEBSITE_QUOTES_TITLE');
const WEBSITE_BACK_BUTTON_TITLE = await getText('WEBSITE_BACK_BUTTON_TITLE');

const IMPRESSUM_WEBSITE_TITLE = await getText('IMPRESSUM_WEBSITE_TITLE');
const IMPRESSUM_SECTION_TITLE = await getText('IMPRESSUM_SECTION_TITLE');
const IMPRESSUM_CONTENT = await getHtml('IMPRESSUM_CONTENT');
---

<Layout title={IMPRESSUM_WEBSITE_TITLE}>
	<main class="container">
		<h1 class="font-silkscreen">{IMPRESSUM_SECTION_TITLE}</h1>
        <BackButton title={WEBSITE_BACK_BUTTON_TITLE} href="/" />
		
		<div class="container more-space-above">
			<div class="rich-text-content" set:html={IMPRESSUM_CONTENT}></div>
		</div>
	
		<div class="container more-space-above">
			<h2 class="font-style-black larger-font">{WEBSITE_QUOTES_TITLE}</h2>
			<QuoteDisplay />
		</div>
	</main>
	
</Layout>

<style>

</style>
