---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { Project } from '../model/Project';

const projectList: Project[] = [
	{title: "My Blog", href: "https://blog.3n3a.ch", body: "Personal blogging site, about tech, studying and more"},
	{title: "Paywall Bypasser", href: "https://news.enea.tech", body: "Read your news for free, focus on swiss newspapers."},
	{title: "Lilly's Website", href: "https://l1lly.li", body: "The personal website of my favourite human"},
	{title: "Apple Calculator", href: "https://apple-calc.enea.tech", body: "A calculator styled like the one in MacOS"},
	{title: "Art", href: "https://art.3n3a.ch", body: "Just some art I and others have created on the internet."},
	{title: "pink", href: "https://pink.enea.tech/", body: "a pink website, where you can get a pink image"}
]
---

<Layout title="3n3a - home">
	<main class="container">
		<h1>3n3a</h1>
		<Card
				href="/about"
				title="About Me"
				color="linear-gradient(45deg, #8acfff 0%, #60b9e6 100%, #6c9cbd 60%)"
				customBg="#f0f9ff"
			/>
		<h2 class="font-silkscreen">Projects</h2>
		<div class="grid">
			{projectList.map(function(data) {
				return <Card title={data.title} href={data.href} body={data.body} color={data.color} customBg={data.customBg} />
			})}
		</div>
		
	</main>
</Layout>

<style>

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	h2 {
		margin-top: 1.5em;
	}


	.grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		grid-gap: 1rem;
		}
</style>
