---

---


<div class="weather-display">
    <div class="weather-part-1" id="weather-1"></div>
    <div class="weather-part-2" id="weather-2"></div>
</div>

<script>
    let weather1 = document.getElementById("weather-1")
    let weather2 = document.getElementById("weather-2")

    const res = await fetch('/api/weather');
    const json = await res.json();

    weather1.innerHTML = `
        <img src="https://openweathermap.org/img/wn/${json.weather[0].icon}@2x.png" alt="${json.weather[0].main}" />
    `
    
    weather2.innerHTML = `
        <h2 style="margin: 0;">${json.main.temp} °C</h2>
        <p style="margin: 0;">${json.name}, ${json.sys.country}</p>
    `
</script>

<style>
    .weather-display {
        display: grid;
        grid-template-columns: 1fr 1fr;
        box-shadow:
            2.5px 2.6px 5.5px rgba(0, 0, 0, 0.018),
            5.9px 6.1px 12.8px rgba(0, 0, 0, 0.026),
            10.6px 11px 23px rgba(0, 0, 0, 0.032),
            17.7px 18.3px 38.2px rgba(0, 0, 0, 0.038),
            29.1px 30.2px 63px rgba(0, 0, 0, 0.044),
            50.9px 52.7px 110px rgba(0, 0, 0, 0.052),
            110px 114px 238px rgba(0, 0, 0, 0.07)
        ;
        padding: 1em;
        border-radius: 5px;
        background-color: lightslategray;
    }

    .weather-part-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .weather-part-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>